{% extends 'base.html.twig' %}


{% block body %}
        <div class="flex flex-col">
                <h1 class="text-center mb-2">Tourspel 2020</h1>
                <h4 class="text-center mb-0">Door:</h4>
                <h3 class="text-center mb-6 mt-0">René van Leeuwen</h3>
                <div class="flex flex-col">
                        <div class="w-full flex">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Roglic.png') }}" alt="Roglic">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Dumoulin.png') }}" alt="Roglic">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Kruijswijk.png') }}" alt="Roglic">
                        </div>
                        <div class="w-full flex">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Thomas.png') }}" alt="Roglic">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Bernal.png') }}" alt="Roglic">
                                <img class="w-1/3 object-contain" src="{{ asset('build/images/Renners/Froome.png') }}" alt="Roglic">
                        </div>
                </div>
        </div>
{% endblock %}
