{% extends 'base.html.twig' %}

{% block title %}Verslag{% endblock %}

{% block body %}
    <div class="flex flex-wrap h-full verslag">
        <div class="w-full">
            <h1>{{ verslag.Titel }}</h1>
            {{ verslag.content|raw('html') }}
        </div>
        <div class="flex mt-auto">
            <a class="bg-blue-500 hover:bg-blue-700 transition-colors duration-200 text-white font-bold py-2 px-4 rounded" href="{{ path('etappe_index') }}">
                Terug
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="bg-yellow-500 hover:bg-yellow-700 transition-colors duration-200 text-white font-bold py-2 px-4 rounded mx-3" href="{{ path('verslag_edit', {'id': verslag.id}) }}">
                    Aanpassen
                </a>
                {{ include('verslag/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
