{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="mb-2">{{ blog.titel }}</h1>

        <div class="mb-3">
            {{ blog.content|raw }}
        </div>

        <a href="{{ path('blog_index') }}" class="btn btn-blue">Terug</a>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('blog_edit', {'id': blog.id}) }}" class="btn btn-green">Aanpassen</a>
            {{ include('blog/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
