{% extends 'base.html.twig' %}

{% block title %}Edit formulier{% endblock %}

{% block body %}
    <h1>Formulier aanpassen</h1>

    {{ form_start(form) }}
        <div class="py-2">
            {{ form_label(form.Titel) }}
            {{ form_widget(form.Titel, {'attr': {'class': 'border rounded px-1'}}) }}
        </div>
        <div class="py-2">
            {{ form_label(form.Year) }}
            {{ form_widget(form.Year, {'attr': {'class': 'border rounded px-1'}}) }}
        </div>
        <div class="py-2">
            {{ form_label(form.Type) }}
            {{ form_widget(form.Type) }}
        </div>
        <div class="py-2">
            {{ form_label(form.Content) }}
            {{ form_widget(form.Content) }}
        </div>
        <div class="flex mt-auto">
            <a class="btn btn-blue" href="{{ path('regel_page') }}">Terug</a>
            <button class="btn btn-green mx-3">{{ "Opslaan"|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
